@charset "UTF-8";

@font-face {
    font-family: "Rubik";
    font-display: block;
    src: url("../assets/fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Spectral";
    font-display: block;
    src: url("../assets/fonts/Spectral/Spectral-Regular.ttf");
}

@font-face {
    font-family: "Fjalla One";
    font-display: block;
    src: url("../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}

/* Titles Animation */

@-webkit-keyframes showme {
    0%    {background-color:#55ce55; left:120%; top:0%;}
    35%   {background-color:red;}
    55%   {background-color:orangered;}
    70%   {background-color:yellow;}
    100%  {background-color:#F38630; left:-0.3em; top:0%;}
  }


@-moz-keyframes showme {
    0%    {background-color:#55ce55; left:120%; top:0%;}
    35%   {background-color:red;}
    55%   {background-color:orangered;}
    70%   {background-color:yellow;}
    100%  {background-color:#F38630; left:-0.3em; top:0%;}
  }


@-o-keyframes showme {
    0%    {background-color:#55ce55; left:120%; top:0%;}
    35%   {background-color:red;}
    55%   {background-color:orangered;}
    70%   {background-color:yellow;}
    100%  {background-color:#F38630; left:-0.3em; top:0%;}
  }


@keyframes showme {
    0%    {background-color:#55ce55; left:120%; top:0%;}
    35%   {background-color:red;}
    55%   {background-color:orangered;}
    70%   {background-color:yellow;}
    100%  {background-color:#F38630; left:-0.3em; top:0%;}
  }

html {
    scroll-behavior: smooth;
}

body {
    background: #A7DBD8;
    color: #E0E4CC;
    padding: 0px;
    margin: 0px;
}

body p, h3 {
    margin-left: 4vw;
    font-family: "Rubik";
}

body p {
    font-family: "Spectral", sans-serif;
}

/* Navbar */

#logo {
    width: 20%;
}

header img {  
    position: relative;
    float: left;
    width: 60%;
    max-width: 100%;
    height: auto;
    margin: auto;
    z-index: 9;

}

#navbar {
    top: 0px;
    padding: 10px;
    margin: 0px;
    position: sticky;
    background: #69D2E7;
    z-index: 9;
    
}

#navbar ul {
    position: relative;
    width: 100%;
    padding: 0.1%;
    margin: 0;
    list-style: None;
    text-align: center;
}

#navbar a {
    text-decoration: none;
    color: rgb(247, 247, 247);
    transition: 0.3s, color 1s;
}

#navbar ul li {
    display: inline-block;
    padding: 10px 10px;
    font-family: "Fjalla One";
    font-size: 2em;
    margin-left: 20px;
}

#navbar ul li a:hover {
    color: #F38630;
}

#banner {
    background-image: url('../images/planning03.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 34.5em;
    padding: 0px;
    margin-top: -19px;
}

#typed {
    color: #FA6900;
    font-size: 4vw;
    font-family: "Fjalla One", sans-serif;
    text-shadow: 2px 2px #000;
}

#typed strong, em {
    color: #fff;
}

#typed-box {
    width: 100%;
    color: #FA6900;
    text-align: center;
    float: left;
}

.typed-cursor {
    font-size: 6em;
    padding: 0;
    margin: 0;
}

/* main */


.main {
    width: auto;
    max-width:1200px;
    color: 	#000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    padding: 0;
    margin: 0 100px;
}

#relax {
    background-image: url('../images/planning02.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vw;
    padding-left: 0vw;
}

.area {
    border-top:42px solid #FFF;
    margin: 0;
    padding-bottom: 10%;
    background-color: #FFF;
    z-index:0; 
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.area h1 {
    position: relative;
    font-size: 2.7em;
    font-family: "Rubik", sans-serif;
    padding-left: 1em;
    left: -0.3em;
    background-color:#F38630;
    width: 58vw;
}

.title-ani {
    -webkit-animation-name: showme; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: showme;
    animation-duration: 1s;
}

/* Album photos */

ul#album-photos {
	width: 60vw;
    overflow: hidden;
    list-style: none;
    padding: 20px;
    margin: 0 auto;
}

ul#album-photos li {
    float: left;
	width: 16vw;
	height: 16vw;
	margin: 2.4%;
	border: 5px solid #FA6900;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	transition: 0.3s;
	background-size: 400px auto;
    background-position: center top;
    background-repeat: no-repeat;

}

/* Projects */

.container {
    margin: 0 auto;
    width: 70%;
    max-width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.container iframe {

    position: absolute;
    border: 2px solid #FA6900;
    top: 0;
    left: 0;
    width: 94%;
    height: 94%;
}

#album-photos li#photo01 {
	background-position: 50% 50%;
	background-size: 25.000em 25.000em;
	background-color: #fff;
}

#album-photos li span {
	opacity: 0;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	background-color: rgba(0,0,0,.3);
	font-size:1.8vw;
	line-height: 5vw;
	padding: 1px;
}

#album-photos li:hover span {
	opacity: 1;
}

#album-photos li#photo01:hover {
	background-position: 0px;
	background-size: 12.500em 12.500em;
}

#album-photos li:hover {
	transform: scale(1.3);
	background-position: 50% 50%;
	background-size: 80% 100%;
}

#photo05 {
    background-image: url("../images/projetos/oinformativo.webp");
}

#photo06 {
    background-image: url("../images/projetos/bonna-modas.webp");
}

/* About */


#about {
    padding-bottom: 20em;
}

#about #avatar{
    background: url('../images/avatar-blankbg.webp') no-repeat;
    width: 20vw;
    height: 20vw;
    float: left;
    background-size: cover;
    border: solid 5px #FA6900;
    border-radius: 50%;
    margin: 0 8vw;

}

#about ul {
    margin-top: 1em;
    float: left;
    width: 45%;
}

#about li, h3 {
    margin-left: 1vw;
    margin-top: 2em;
    font-style: italic;
}

#about li {
    list-style: None;
    padding-left: 4px;
    margin: 4px;
    float: left;
}

#about a {
    margin-left: 2vw;
    text-decoration: none;
    color: #A7DBD8;
    font-family: "Spectral", sans-serif;
    font-size: 3vw;
    transition: 0.5s;
}

#about a:hover {
    color: #FA6900;
}

#about-text {
    margin-right: 2vw;
}

#about-text h2{
    font-family: "Rubik";
    color: #A7DBD8;
    font-style: italic;
}

#about-text p {
    font-size: 1.5vw;
}

#skills {
    margin: 2em auto;
    padding: 5em auto;
}

#skills li {
    color: #69D2E7;
    margin: 15px 12px;
}
#skills i {
    font-size: 2.5vw;
}

/* Footer */

#footer {
    position: relative;
    width: auto;
    text-align: center;
    bottom: 0px;
}

#footer i {
    color: rgb(253, 0, 0);
}

#footer span {
    font-style: normal;
    color: #FFF;
    font-family: "Rubik";
    font-size: 1.2em;
}

#footer p {
    font-family: "Spectral";
    font-style: italic;
    color: #000;
}

.dropbtn {
    display: none;
}

/* querys */

@media (max-width: 1200px) {
       
   header img {
       animation: none;
   }

   .title-ani {
       animation: none;
   }

   #banner {
       height: 94vh;
       width: 100%;
   }

   #banner #typed-box {
       margin-top: 28vh;
   }

   .area {
    padding-bottom: 75%;
}

   /* start */

   #relax {
       height: 80vh;
   }

   /* projects */

   #album-photos li {
       padding: 5%;
   }

   /* about */

   .main p, #about-text p {
    font-size: 1.5em;
   }

   #about {
       margin-bottom: 0;
       padding-bottom: 70%;
       padding-top: 0%;
   }

   #about ul {
       width: 100%;
       height: auto;
       margin-bottom: 10%;
   }

   #skills li{
    font-size: 1.5em;
   }

   #about i {
       font-size: 4vw;
   }

   #skills {
       margin-bottom: 25%;
   }

}


@media (min-width: 601px) {
    .dropbtn#changer {
        display: none;
    }

}

@media (max-width: 768px) {

    .main {
        width: auto;
        margin: 0 2%;
    }

    #banner {
        height: 92vh;
        width: 100%;
    }

    #typed-box span {
        font-size: 3.5em;
    }

    .main p, #about-text p {
        font-size: 1.2em;
    }

    #skills li{
        font-size: 1.2em;
    }
    
    #about ul {
        margin: 0% auto;   
    }

    #contato {
        width: 100%;
    }

}

@media(max-width: 600px) {
    

    html {
        padding: 0;
	    margin: 0;
    }

    #logo {
        display: none;
    }

    #navbar {
        position: fixed;
        top: 0;
        font-size: 6vw;
        padding-right: 20vw;
    }

    #navbar{
        display: none;
    }

    .show {
        display: block !important;
    }

    .show ul {
        font-size: 4vw;
    }

    .dropbtn {
        top: 0vh;
        left: 0vw;
        position: fixed;
        display: block;
        background-color: #A7DBD8CC;
        color: white;
        padding: 7vw;
        font-size: 16px;
        border: none;
        cursor: pointer;
        z-index: 10;
      }

    #typed-box {
        font-size: 2vw;
        padding: 0vw;
        margin: 0;
    }

    #banner {
        height: 110vh;
    }

    /* projects */

    ul#album-photos {
        padding: 10px 0px;
        margin: 40px auto;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    article#projects.area li {
       height: 80px;
       width: 50%;
       padding: 10px 10px;
       clear: both;
       margin-left: 20%;
    }

    .main h1 {
        font-size: 10vw;
    }

    article#about.area {
        padding-bottom: 72vw;;
    }

    #about h2, #about p {
        font-size: 5vw;
    }

    #skills {
        padding: 0;
    }

    #skills h3, #skills li {
        font-size: 4vw;
    }

    #skills li {
        font-size: 3vw;
    }

    #about h3 {
        font-size: 4vw;
    }

    #contato{
        font-size: 8vw;
        width: 340px;
        padding-bottom: 20px;
        padding-left: 0px;
    }

    #footer {
        font-size: 5vw;
        height: 0;
    }

}

@media (max-width: 396px) {
    article.area#about {
        padding-bottom: 90vw;
    }
}