@charset "UTF-8";

body {
    position: relative;
    top:60px;
    background: #4d4a4a;
    color: #fff;
}

/* Some tricks */

@keyframes changemoves {
    0%   {background-color:#55ce55; left:0px; top:0px;}
    30%  {background-color:yellow; left:1000px; top:240px;}
    50%  {background-color:blue; left:600px; top:240px;}
    70%  {background-color:red; left:200px; top:240px;}
    100% {background-color:#55ce55; left:0px; top:0px;}
  }

@keyframes showme {
    0%   {background-color:#55ce55; left:1800px; top:0px;}
    35%   {background-color:red; left:800px; top:0px;}
    55%   {background-color:yellow; left:500px; top:0px;}
    70%   {background-color:yellow; left:150px; top:0px;}
    100% {background-color:#55ce55; left:0px; top:0px;}
  }

/* Navbar */

header h1 {   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0px;
    padding: 10px 70px 0px 30px;
    margin-bottom: 150px;
    width: 100px;
    height: 100px;
    background-color:#55ce55;
    border-radius: 2em;
    position: relative;
    -webkit-animation-name: changemoves; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: changemoves;
    animation-duration: 4s;
    animation-delay: -0s;
      
}

#navbar {
    overflow: hidden;
    position: fixed;
    background: #55ce55;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
}

#navbar ul {
    position: relative;
    display: inline-block;
    padding: 0.1%;
    margin-left: 5%;
    list-style: None;
    width: 100%;    
}

#navbar ul li {
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 1em;
    transition: background 0.3s, color 1s;
}

#navbar ul li:hover {
    background: black;
    color: #00ff00;
}

#navbar

/* main */


.main {
    position: relative;
    left: 10%;
    width: 80%;
    color: 	#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    padding-left: 10px;
}

.area {
    border-top:42px solid #4d4a4a;
    padding-bottom: 40%;
    margin-left: 10%;
}

.area h1 {
    position: relative;
    font-size: 3em;
    -webkit-animation-name: showme; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: showme;
    animation-duration: 4s;
    padding-left: 20px;
    background-color:#55ce55;
}

/* album photos */

#album-photos {
    list-style: None;
}