@charset "UTF-8";

body {
    background: #4d4a4a;
    color: #fff;
}

/* Some tricks */

@keyframes changemoves {
    0%   {background-color:#55ce55; left:5%; top:0em;}
    30%  {background-color:red; left:72%; top: 11.5em;}
    50%  {background-color:orangered; left:50%; top:11.5em;}
    70%  {background-color:yellow; left:25%; top:11.5em;}
    100% {background-color:#55ce55; left:0%; top:0em;}
  }

@-webkit-keyframes changemoves {
    0%   {background-color:#55ce55; left:5%; top:0em;}
    30%  {background-color:red; left:72%; top: 11.5em;}
    50%  {background-color:orangered; left:50%; top:11.5em;}
    70%  {background-color:yellow; left:25%; top:11.5em;}
    100% {background-color:#55ce55; left:0%; top:0em;}
  }


@-moz-keyframes changemoves {
    0%   {background-color:#55ce55; left:5%; top:0em;}
    30%  {background-color:red; left:72%; top: 11.5em;}
    50%  {background-color:orangered; left:50%; top:11.5em;}
    70%  {background-color:yellow; left:25%; top:11.5em;}
    100% {background-color:#55ce55; left:0%; top:0em;}
  }

@-o-keyframes changemoves {
    0%   {background-color:#55ce55; left:5%; top:0em;}
    30%  {background-color:red; left:72%; top: 11.5em;}
    50%  {background-color:orangered; left:50%; top:11.5em;}
    70%  {background-color:yellow; left:25%; top:11.5em;}
    100% {background-color:#55ce55; left:0%; top:0em;}
  }

/* Trick 2 */

@-webkit-keyframes showme {
    0%   {background-color:#55ce55; left:120%; top:0%;}
    35%   {background-color:red; left:70%; top:0%;}
    55%   {background-color:orangered; left:40%; top:0%;}
    70%   {background-color:yellow; left:15%; top:0%;}
    100% {background-color:#55ce55; left:0%; top:0%;}
  }


@-moz-keyframes showme {
    0%   {background-color:#55ce55; left:120%; top:0%;}
    35%   {background-color:red; left:70%; top:0%;}
    55%   {background-color:orangered; left:40%; top:0%;}
    70%   {background-color:yellow; left:15%; top:0%;}
    100% {background-color:#55ce55; left:0%; top:0%;}
  }


@-o-keyframes showme {
    0%   {background-color:#55ce55; left:120%; top:0%;}
    35%   {background-color:red; left:70%; top:0%;}
    55%   {background-color:orangered; left:40%; top:0%;}
    70%   {background-color:yellow; left:15%; top:0%;}
    100% {background-color:#55ce55; left:0%; top:0%;}
  }


@keyframes showme {
    0%   {background-color:#55ce55; left:120%; top:0%;}
    35%   {background-color:red; left:70%; top:0%;}
    55%   {background-color:orangered; left:40%; top:0%;}
    70%   {background-color:yellow; left:15%; top:0%;}
    100% {background-color:#55ce55; left:0%; top:0%;}
  }

/* Navbar */

header h1 {  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    float: left;
    font-size: 2rem;
    margin-left: 0px;
    padding: 10px 70px 0px 30px;
    margin-bottom: 50px;
    margin-top: 3em;
    width: 100px;
    height: 100px;
    background-color:#55ce55;
    border-radius: 2em;
    animation-name: changemoves;
    animation-duration: 4s;
    -moz-animation-name: changemoves; /* Safari 4.0 - 8.0 */
    -moz-animation-duration: 4s; 
    -o-animation-name: changemoves; /* Safari 4.0 - 8.0 */
    -o-animation-duration: 4s; 
    -webkit-animation-name: changemoves; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    z-index: 9;

}

#navbar {
    overflow: hidden;
    position: fixed;
    background: #55ce55;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
}

#navbar ul {
    position: relative;
    display: inline-block;
    padding: 0.1%;
    margin-left: 5%;
    list-style: None;
    width: 100%;    
}

#navbar ul li {
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 1em;
    transition: background 0.3s, color 1s;
}

#navbar ul li:hover {
    background: black;
    color: #00ff00;
}

#banner {
    background-image: url('../images/planning01.jpg');
    background-repeat: no-repeat;
    background-size: 52em;
    background-position: center;
    height: 30em;
    padding-left: 0px;
    margin: 0px;
    margin-top: 0.5em;
}


/* main */


.main {
    position: relative;
    left: 10%;
    width: 80%;
    color: 	#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    padding-left: 10px;
}

.main #relax {
    background-image: url('../images/relax.jpeg');
    background-repeat: no-repeat;
    background-size: 61vw 50vw;
    background-position: center;
    height: 30vw;
    padding-left: 0vw;
    margin-left: -10vw;
}

.area {
    border-top:42px solid #4d4a4a;
    padding-bottom: 40%;
    margin-left: 10%;
}

.area h1 {
    position: relative;
    font-size: 2.7em;
    -webkit-animation-name: showme; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: showme;
    animation-duration: 4s;
    padding-left: 1em;
    background-color:#55ce55;
    width: 58vw;
}

/* album photos */

ul#album-photos {
	width: 60vw;
    overflow: hidden;
    padding: 1.5em;
    list-style: none;
}

ul#album-photos li {
	float: left;
	width: 16vw;
	height: 16vw;
    margin: 0.4em;
	border: 5px solid #55ce55;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	transition: 0.3s;
}

/* Projects */

ul#album-photos li#photo01 {
    background: url('../images/projetos/googleglass-project-website.png') no-repeat;
	background-position: 50% 50%;
	background-size: 25.000em 25.000em;
	background-color: #fff;
}

ul#album-photos li span {
	opacity: 0;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	background-color: rgba(0,0,0,.3);
	font-size: 2vw;
	line-height: 5vw;
	padding: 2.5px;
}

ul#album-photos li:hover span {
	opacity: 1;
}

ul#album-photos li#photo01:hover {
	background-position: 0px;
	background-size: 12.500em 12.500em;
}

ul#album-photos li:hover {
	transform: scale(1.3);
}

/* About */

#about #avatar{
    background: url('../images/avatar.jpg') no-repeat;
    width: 20vw;
    height: 20vw;
    float: left;
    background-size: cover;
    margin-right: 1vw;

}

#about #avatar h3{
    margin-left: 2vw;
}

#about p {
    margin-left: 1vw;
    margin-top: 1em;
    font-style: italic;
    display: inline-block;
}

#about a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    margin-left: 2vw;
    transition: 0.5s;
}

#about a:hover {
    color: #55ce55;
}