* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
}

html, body {
  min-height: 100%;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* mini-neumorphism toolkit */
.container {
  box-shadow: 20px 20px 50px #00d2c6,
  -30px -30px 60px #00ffff;
}
