footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icon-text {
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: all .1s;
}

a:hover > .icon-text{
    opacity: 1;
    vertical-align: middle;
}

.hover-white:hover {
    color: #14D9D9;
}

@media(min-width:768px) {
    a:hover > .icon-hide {
        opacity: 0;
    }
}